VITE_SUPABASE_URL=https://jtnovfugqruzdjkyxtnh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0bm92ZnVncXJ1emRqa3l4dG5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA4NzA3ODIsImV4cCI6MjA2NjQ0Njc4Mn0.qGiPMryq_mv1jnDc4kQ1zLgPtbvF4sU5JpgFwb2o5Yc